// partials 
@import './resets';
@import './variables';
// funtions
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name );
}
// mixins
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin theme($light-theme: true) {
 // this will invert the color 
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}
// media querie to make it responsive
@mixin mobile {
  @media (max-width: $mobile){
    @content; 
  }
}

body {
  background-color: $primary-color;
  color:$text-color;
}
.main {
  width: 80%;
  margin: 0 auto;
  @include flexCenter(row);
  // everything inside the main class and ends in "paragraph" will have this properties thanks to "#{&}"
  #{&}-paragraph1 {
    font-weight: map-get($font-weights,bold );
    &:hover {
      color: pink;
    }
  }

  #{&}-paragraph2 {
    @extend .main-paragraph1;
    &:hover {
      color: $accent-color;
    }
  }


  @include mobile {
    flex-direction: column;
  }
}
.light { 
  @include theme($light-theme: true);
}