$primary-color: #313131;
$accent-color: #ff7323;
$text-color: #ffffff;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);
body {
  background-color: $primary-color;
  color:$text-color;
}
.main {
  width: 80%;
  margin: 0 auto;
  // everything inside the main class and ends in "paragraph" will have this properties
  #{&}-paragraph {
    font-weight: map-get($font-weights,bold );
    &:hover {
      color: pink;
    }
  }

}